.ring, .light {
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    border-radius: 300px;
    opacity: 0;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);
}

.message {
    /*line-height: 200px;*/
    fint-size: 18px;
    color: white;
    text-align: center;
    margin: 25px;
    margin-top: 15px;
}

.ring {
    border-width: 50px;
    border-style: solid;
}

.ring.C4 {
    border-color: #FF3D7F;
}

.ring.G4 {
    border-color: #FF9E9D;
}

.ring.C5 {
    border-color: #DAD8A7;
}

.ring.D5 {
    border-color: #7FC7AF;
}

.ring.E5 {
    border-color: #3FB8AF;
}

.ring.neg-ten {
    border-color: #000000;

}

.ring.neg-nine {
    border-color: #2a0100;

}

.ring.neg-eight {
    border-color: #7a0a05;

}

.ring.neg-seven {
    border-color: #a70a05;

}

.ring.neg-six {
    border-color: #ce1c1a;
}

.ring.neg-five {
    border-color: #f95e66;

}

.ring.neg-four {
    border-color: #ff9a93;

}

.ring.neg-three {
    border-color: #ffbcb5;

}

.ring.neg-two {
    border-color: #ffdcd2;

}

.ring.neg-one {
    border-color: #ffe7de;

}

.ring.zero {
    border-color: #fcfff6;

}

.ring.one {
    border-color: #ecffeb;

}

.ring.two {
    border-color: #cfffd4;

}

.ring.three {
    border-color: #b4ffbd;

}

.ring.four {
    border-color: #96ff9c;

}

.ring.five {
    border-color: #7bff82;

}

.ring.six {
    border-color: #5dff54;

}

.ring.seven {
    border-color: #3cd237;

}

.ring.eight {
    border-color: #21d319;

}

.ring.nine {
    border-color: #10a001;

}

.ring.ten {
    border-color: #0f6a01;

}

.light {
    background-image: radial-gradient(
            circle farthest-side,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.1) 30%,
            rgba(255, 255, 255, 0) 100%
    );
}
